* {
    padding: 0 auto;
    margin: 0 auto;
    text-decoration: none;
    font-family: cursive;
}

nav {
    width: 800px;
    margin: 0 auto;
    top: 0%;
}

.navbar:hover {
    background-color: green;
    transition: 2s;
    position: fixed;
}

.navbar .container {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px auto;
}

.logo a {
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin-left: -200px;
    padding-bottom: 88px;
    display: inline-block;
    font-family: ALGERIAN;
}

.menu {
    padding-top: 10px;
}

.menu li {
    display: inline-block;
    box-shadow: 10px 5px 5px maroon;
}

.menu li a:hover {
    color: black;
}


/* gestion de la section 1 */

.home .centre {
    color: white;
    margin: auto 120px;
}

.navbar {
    width: 100%;
    background-color: maroon;
    position: fixed;
    padding: 15px;
    text-align: center;
    height: 100px;
}

.menu li a {
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-left: 35px;
    transition: color 2s;
    font-family: Pristina;
}

.menu li a:hover {
    color: black;
}

.sous {
    display: none;
    position: absolute;
}

.menu li:hover .sous {
    display: block;
}

.sous li {
    font-size: 34px;
    width: 50%;
    text-align: center;
    background-color: maroon;
    /* margin-left: -40px; */
    border: 5px solid maroon;
}


/* gestion des sections */


/* premiere section */


/* gestion de la section 1 */

.section1 {
    height: 800px;
    background: url('root.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.section1 .centre {
    color: white;
    margin: auto 120px;
}


/* gestion tesxt */


/* gestion du texte */

.section1 .global .text {
    font-size: 70px;
    font-weight: 600;
    font-family: cursive;
}


/* deuxieme section */

.section2 .hotel h1 {
    margin-top: 30px;
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    color: black;
}

.section2 .hotel p {
    margin-left: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.section2 .hotel h6 {
    margin-left: 10px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    margin-top: 40px;
    margin-bottom: 20px;
}

.img {
    width: 50%;
    margin-left: 25%;
}

.cuisine p {
    margin-top: 20px;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}


/* quetrieme section */

.section4 .hotel3 {
    margin-left: 10px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section4 .cuisine1 {
    width: 40%;
    margin-left: 100px;
}

.section4 .cuisine2 {
    width: 40%;
    height: 480px;
    margin-right: 100px;
    display: flex;
    margin-top: -490px;
}


/* section tourisme */

.tourisme h2 {
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    margin-top: 40px;
    margin-bottom: 20px;
}

.tourisme .ocean {
    height: 500px;
    margin-bottom: 30px;
}

.tourisme .chateau {
    height: 500px;
    margin-bottom: 30px;
    width: 900px;
    margin-left: 33%;
}

.tourisme .vignoble {
    height: 500px;
    margin-bottom: 30px;
}

.tourisme .monu {
    height: 500px;
    margin-bottom: 30px;
    width: 900px;
    margin-left: 33%;
}


/* gestion des text sur les decouvertes */

.ocean1 p {
    margin-left: 60%;
    font-size: 30px;
    margin-top: -350px;
    margin-bottom: 300px;
}

.chateau1 p {
    margin-top: -350px;
    margin-bottom: 300px;
    font-size: 30px;
}

.vignoble1 p {
    margin-left: 60%;
    font-size: 30px;
    margin-top: -350px;
    margin-bottom: 320px;
}

.monument1 p {
    margin-top: -350px;
    margin-bottom: 300px;
    font-size: 30px;
}


/* footer */

.final {
    width: 100%;
}

footer .final {
    width: 100%;
    background-color: pink;
    margin-top: 250px;
    text-align: center;
    color: black;
}

.gauche {
    margin-left: 50%;
}

.formulaire {
    width: 50%;
    margin-left: 25%;
}

.formulaire input {
    border: solid 2px;
}

button {
    color: green;
    border: solid 1px;
    width: 100px;
}

button:hover {
    background-color: aqua;
    color: black;
}

.formulaire {
    width: 50%;
    margin-left: 25%;
}

.formulaire input {
    border: solid 2px;
}

button {
    color: green;
    border: solid 1px;
    width: 100px;
}

button:hover {
    background-color: aqua;
    color: black;
}